# Database
DATABASE_URL="postgresql://user:password@localhost:5432/neuralgrid"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here"

# n8n
N8N_URL="http://115.91.5.140:5678"
